{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col mt-5">

            <h2>Shopping Bag</h2>

        </div>
    </div>
    <div class="row">
        <div class="container">
            {% if bagitems %}
            <p>Your selected courses:</p>
            {% for item in bagitems %}
                {{ item.course.name }}
                {{ item.course.price }} Euro
                {{ item.quantity }} course
                </br>
                <form action="{% url 'removebag' item.course_id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-signup btn-md" type="submit">Remove from bag</button>
                </form>
            {% endfor %}
            <a href="{% url 'checkout' %}" class="btn btn-black">Secure Checkout</a>
            {% else %}
            <p>No courses selected yet</p>
            <a href="{% url 'allcourses' %}">Choose a course</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}