{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container mb-5">
    <div class="row mt-5">
        <div class="col mt-5">

        <h2>Welcome to Learn German Online!</h2>
        <h3>The online language school with live classes</h3>
        <p>
            You would like to learn German from the comfort of your home? 
            Get confident speaking German or prepare for a test? 
            We offer a variety of classes on all levels. Choose from regular long term courses, 
            fast paced intensive courses, quick refresher courses and much more.
        </p>
        <p>Browse our <a href="{% url 'allcourses' %}">courses</a>.</p>
        <p>Want to learn more about us?</p>
        <p>Read more about <a href="{% url 'courseinfo' %}">our course structure</a>.</p>
        <p>Get to know <a href="{% url 'teachers' %}">our teachers</a>.</p>
        <p><a href="{% url 'contact' %}">Contact us</a> with individual questions.</p>

        </div>
    </div>
</div>

{% endblock %}
