{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-1">
                <h2>Thank You!</h2>
                <hr>
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

    <div class="row mt-5">
        <div class="col-md-8 offset-md-1">
            <p class="fs-5">Order Number and Order Date</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-8 offset-md-1">
            <div class="card">
                <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ order.ordernumber }}</li>
                <li class="list-group-item">{{ order.date }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 offset-md-1">
            <p class="fs-5">Your booked course(s)</p>
        </div>
    </div>
    
    {% for item in order.lineitems.all %}
    <div class="row mt-3">
        <div class="col-md-8 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ item.course.name }}
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ item.course.level }}</li>
                <li class="list-group-item">{{ item.course.startdate }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <div class="row mt-5">
        <div class="col-md-8 offset-md-1">
            <p class="fs-5">Your data</p>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-md-8 offset-md-1">
            <div class="card">
                <div class="card-header">
                    {{ order.fullname }}
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ order.streetaddress1 }}</li>
                {% if order.street_address2 %}
                <li class="list-group-item">{{ order.streetaddress2 }}</li>
                {% endif %}
                {% if order.county %}
                <li class="list-group-item">{{ order.county }}</li>
                {% endif %}
                {% if order.postcode %}
                <li class="list-group-item">{{ order.postcode }}</li>
                {% endif %}
                <li class="list-group-item">{{ order.country }}</li>
                <li class="list-group-item">{{ order.phonenumber }}</li>
                <li class="list-group-item">Order total: {{ order.total }} Euro</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 offset-md-1">
			<a href="{% url 'allcourses' %}" class="btn">
				Search for more courses
			</a>
		</div>
	</div>
</div>

{% endblock %}
