{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container mb-5">
    <div class="row mt-5">
        <div class="col mt-5">
            <h2>Get to know our teachers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Klara</p>
            <p>
                Klara grew up in Hamburg, where she still lives. She completed her Masters Degree
                in German as a Foreign Language in 2015 and has since then taught in different 
                language schools online and offline. She teaches all levels.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Veronika</p>
            <p>
                Veronika was born and raised in Switzerland and is now living in Frankfurt, Germany.
                She completed her studies in linguistics in 2019 and has been teaching since then.
                She is specialised in teaching beginners on level A1 and A2.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Felix</p>
            <p>
                Felix lives in Munich, where he has been teaching in various language schools.
                Originally coming from a business background, he is now primarily teaching advanced
                German classes on level B2 and C1 with a specialisation in business. 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Lukas</p>
            <p>
                Lukas was born and raised in a small city in the northeast of Germany and is now
                living in Berlin. He has been teaching English in German secondary school before starting
                a qualification in teaching German as a Foreign Language. He teaches all levels of German.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Maria</p>
            <p>
                Maria, orginally from Vienna, is now living in Munich. She completed her Masters Degree
                in German as a Foreign Language in 2020 and has been teaching with us since then.
                She especially likes to teach intensive courses, but you can find her in some of our other
                courses as well. 
            </p>
        </div>
    </div>
</div>

{% endblock %}
