{% extends "base.html" %}
{% load static %}

{% block extra_title %}Our Teachers{% endblock %}

{% block content %}


<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-1">
            <h2>Meet the Teacher Team</h2>
        </div>
    </div>
    <!-- cards for the individual teachers with image -->
    <div class="row mt-5">
        <div class="col-md-8 offset-md-1">
            <div class="card mb-3">
                <div class="row g-0">
                <div class="col-lg-6 align-self-center">
                    <img src="https://res.cloudinary.com/dj9mjerfb/image/upload/v1654962031/languageschool/klara_ofpsbl.jpg" class="img-fluid rounded-start" alt="Picture of Klara">
                </div>
                <div class="col-lg-6">
                    <div class="card-body">
                    <h5 class="card-title">Klara</h5>
                    <p class="card-text">
                        Klara grew up in Hamburg, where she still lives. She completed her Masters Degree
                        in German as a Foreign Language in 2015 and has since then taught in different 
                        language schools online and offline. She teaches all levels.
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-8 offset-md-1">
            <div class="card mb-3">
                <div class="row g-0">
                <div class="col-lg-6 align-self-center">
                    <img src="https://res.cloudinary.com/dj9mjerfb/image/upload/v1654962045/languageschool/veronika_g3kbk9.jpg" class="img-fluid rounded-start" alt="Picture of Veronika">
                </div>
                <div class="col-lg-6">
                    <div class="card-body">
                    <h5 class="card-title">Veronika</h5>
                    <p class="card-text">
                        Veronika was born and raised in Switzerland and is now living in Frankfurt, Germany.
                        She completed her studies in linguistics in 2019 and has been teaching since then.
                        She is specialised in teaching beginners on level A1 and A2.
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-8 offset-md-1">
            <div class="card mb-3">
                <div class="row g-0">
                <div class="col-lg-6 align-self-center">
                    <img src="https://res.cloudinary.com/dj9mjerfb/image/upload/v1654962024/languageschool/felix_d6fwol.jpg" class="img-fluid rounded-start" alt="Picture of Felix">
                </div>
                <div class="col-lg-6">
                    <div class="card-body">
                    <h5 class="card-title">Felix</h5>
                    <p class="card-text">
                        Felix lives in Munich, where he has been teaching in various language schools.
                        Originally coming from a business background, he is now primarily teaching advanced
                        German classes on level B2 and C1 with a specialisation in business.
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-8 offset-md-1">
            <div class="card mb-3">
                <div class="row g-0">
                <div class="col-lg-6 align-self-center">
                    <img src="https://res.cloudinary.com/dj9mjerfb/image/upload/v1654962036/languageschool/lukas_ty1gvu.jpg" class="img-fluid rounded-start" alt="Picture of Lukas">
                </div>
                <div class="col-lg-6">
                    <div class="card-body">
                    <h5 class="card-title">Lukas</h5>
                    <p class="card-text">
                        Lukas was born and raised in a small city in the northeast of Germany and is now
                        living in Berlin. He has been teaching English in German secondary school before starting
                        a qualification in teaching German as a Foreign Language. He teaches all levels of German.
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-8 offset-md-1">
            <div class="card mb-3">
                <div class="row g-0">
                <div class="col-lg-6 align-self-center">
                    <img src="https://res.cloudinary.com/dj9mjerfb/image/upload/v1654962039/languageschool/maria_eumqkh.jpg" class="img-fluid rounded-start" alt="Picture of Maria">
                </div>
                <div class="col-lg-6">
                    <div class="card-body">
                    <h5 class="card-title">Maria</h5>
                    <p class="card-text">
                        Maria, orginally from Vienna, is now living in Munich. She completed her Masters Degree
                        in German as a Foreign Language in 2020 and has been teaching with us since then.
                        She especially likes to teach intensive courses, but you can find her in some of our other
                        courses as well. 
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
