{% extends "base.html" %}
{% load static %}

{% block extra_title %}Course Information{% endblock %}

{% block content %}


<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-1 pb-3">
            <h2>Our language levels</h2>

        </div>
    </div>
    <!-- card for the language level -->
    <div class="row">
        <div class="col-md-8 offset-md-1">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Language Levels</h5>
                <h6 class="card-subtitle mb-3 mt-3 text-muted">
                    Our courses follow the Common European Framework of Reference for Languages (CEFR).
                    You can find an overview on the <a href="https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale" target="_blank" rel="help">Council of Europe Website</a>.
                </h6>
                <p class="card-text">
                    We have broken down each level into two halves, each with two parts.<br>
                    For example: Level B1 is set up with the following four courses: B1.1 Part 1, B1.1 Part 2, B1.2. Part 1, B1.2 Part 2.<br>
                    If you are a complete beginner, please start with course A1.1 Part 1.<br>
                    If you are unsure about your level, please feel free to <a href="{% url 'contact' %}">contact us</a> for more information.
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-1 mb-3">
            <h2>Our course formats</h2>
        </div>
    </div>
    <!-- cards for the different course formats -->
    <div class="row">
        <div class="col-md-8 offset-md-1">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Standard</h5>
                  <p class="card-text">
                    Our standard courses take place once a week for 90 minutes over a period of 14 weeks.
                    After that you will have acquired all necessary knowledge for the respective course level.
                    This course format is for you if you prefer to complete a level over a longer period of time
                    with more time for self-study.
                  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-1 mt-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Intensive</h5>
                  <p class="card-text">
                    Our intensive courses take place one day a week over a period of 4 weeks.
                    One course day consists of 7 lessons with 45 minutes each and usually has the following schedule, if not stated otherwise in the course description: <br>
                    9:00-10:30 <br>
                    11:00-12:30 <br>
                    13:30-15:00 <br>
                    15:30-16:15 <br>
                    This course is for you if you want to make fast progress and if your are dedicated to learn the language in a short period of time.
                  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-1 mt-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Refresher</h5>
                  <p class="card-text">
                    The refresher course is a one day course dedicated to refreshing the knowledge of a particular level.
                    The course day has 5 lessons with 45 minutes each and usually has the following schedule, if not stated otherwise in the course description: <br>
                    9:00-10:30 <br>
                    11:00-12:30 <br>
                    13:30-14:15 <br>
                    This course is for you if you have taken a longer break from learning German and you would like to fresh
                    up your knowledge before starting with the next level.
                  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-1 mt-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Business German</h5>
                  <p class="card-text">
                    Our business German courses are taught on Level B1 and Level B2 with a focus on business related topics
                    and vocabulary.
                    They take place once a week for 90 minutes over a period of 14 weeks.
                    This course is for you if you are learning German especially for business purposes.
                  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-1 mt-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Holiday Course</h5>
                  <p class="card-text">
                    Our holiday courses are taught on Level A1.
                    They take place one day per week over a period of 4 weeks 
                    One course day consists of 5 lessons with 45 minutes each and usually has the following schedule, if not stated otherwise in the course description: <br>
                    9:00-10:30 <br>
                    11:00-12:30 <br>
                    13:30-14:15 <br>
                    This course is for you if you do not know any German yet, but plan to go on a holiday. 
                    The course content is specifically focussed on vocabulary and conversations that you 
                    might come across on your next holiday.
                  </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
