{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container mb-5">
    <div class="row mt-5">
        <div class="col mt-5">
            <h2>Our course formats and language levels</h2>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Language Levels</p>
            <p>
                Our courses follow the Common European Framework of Reference for Languages (CEFR).
                You can find an overview on the <a href="https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale" target="_blank">Council of Europe Website</a>.
                We have broken down each level into two halves, each with two parts.
                For example: Level B1 is set up with the following four courses: B1.1 Part 1, B1.1 Part 2, B1.2. Part 1, B1.2 Part 2.
                If you are a complete beginner, please start with course A1.1 Part 1.
                If you are unsure about your level, please feel free to <a href="#">contact us</a> for more information.
            </p>
            <p>Course Formats</p>
            <p>Learn German Online offers courses in the following different formats:</p>
            <p>Standard</p>
            <p>
                Our standard courses take place once a week for 90 minutes over a period of 14 weeks.
                After that you will have acquired all necessary knowledge for the respective course level.
                This course format is for you if you prefer to complete a level over a longer period of time
                with more time for self-study.
            </p>
            <p>Intensive</p>
            <p>
                Our intensive courses take place one day a week over a period of 4 weeks.
                One course day consists of 7 lessons with 45 minutes each and usually has the following schedule, if not stated otherwise in the course description: <br>
                9:00-10:30 <br>
                11:00-12:30 <br>
                13:30-15:00 <br>
                15:30-16:15 <br>
                This course is for you if you want to make fast progress and if your are dedicated to learn the language in a short period of time.
            </p>
            <p>Refresher</p>
            <p>
                The refresher course is a one day course dedicated to refreshing the knowledge of a particular level.
                The course day has 5 lessons with 45 minutes each and usually has the following schedule, if not stated otherwise in the course description: <br>
                9:00-10:30 <br>
                11:00-12:30 <br>
                13:30-14:15 <br>
                This course is for you if you have taken a longer break from learning German and you would like to fresh
                up your knowledge before starting with the next level.
            </p>
            <p>Business German</p>
            <p>
                Our business German courses are taught on Level B1 and Level B2 with a focus on business related topics
                and vocabulary.
                They take place once a week for 90 minutes over a period of 14 weeks.
                This course is for you if you are learning German especially for business purposes.
            </p>
            <p>Holiday German</p>
            <p>
                Our holiday courses are taught on Level A1.
                They take place one day per week over a period of 4 weeks 
                One course day consists of 5 lessons with 45 minutes each and usually has the following schedule, if not stated otherwise in the course description: <br>
                9:00-10:30 <br>
                11:00-12:30 <br>
                13:30-14:15 <br>
                This course is for you if you do not know any German yet, but plan to go on a holiday. 
                The course content is specifically focussed on vocabulary and conversations that you 
                might come across on your next holiday.
            </p>
        </div>
    </div>
</div>

{% endblock %}
