@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body {
    background-color: #E4EAF2;
    font-family: 'Source Serif Pro', serif;
    padding-top: 70px;
    padding-bottom: 70px;
}

/* styling for links */
a {
    color: #262626;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: #262626;
    font-weight: 700;
    text-decoration: underline;
}

/* color styling */
nav,
footer {
    background-color: #B8C6D9;
    color: #000;
}

.btn {
    background-color: #262626;
    color: #FFF;
}

.btn:hover {
    background-color: #8C0303;
    color: #FFF;
    font-weight: 400;
    text-decoration: none;
}

/* color for footer disclaimer, checkout page disclaimer and warning on delete course */
.darkred {
    color: #8C0303;
}

/* image styling */
#homepageimage {
    width: 100%;
}

#navbarimage {
    width: 50px;
}
