{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mb-5">
    <div class="row mt-5">
        <div class="col mt-5">
            <h2>Add a course</h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col mt-5 mb-5">
            <form action="{% url 'addcourse' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-black" type="submit">Add course</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
