{% extends "base.html" %}

{% block content %}

<h2>Our Courses</h2>

{% for course in courses %}

    <a href="{% url 'coursedetail' course.id %}">Name: {{ course.name }}</a>
    </br>
    Level: {{ course.level }}
    Format: {{ course.format }}
    Price: {{ course.price }} Euro
    Startdate: {{ course.startdate }}
    Weekday: {{ course.weekday }}
    Starttime: {{ course.starttime }}
    Duration: {{ course.duration }}
    Maximum number of students: {{ course.limit }}
    Status: {{ course.status }}

{% endfor %}

{% endblock content %}
