{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col mt-5">

        Name: {{ course.name }}
        </br>
        Level: {{ course.level }}
        Format: {{ course.format }}
        Description: {{ course.description }}
        Price: {{ course.price }} Euro
        Startdate: {{ course.startdate }}
        Weekday: {{ course.weekday }}
        Starttime: {{ course.starttime }}
        Duration: {{ course.duration }}
        Places left: {{ course.limit }}
        Status: {{ course.status }}
        </div>
    </div>
    <br>
    <div class="row">

    {% if user.is_authenticated %}
        {% for order in orders %}
        {% for item in order.lineitems.all %}
        {% if item.course.name == course.name %}
            You have already booked this course.
            <a href="{% url 'orderhistory' order.ordernumber %}">{{ order.ordernumber|truncatechars:6 }}</a>
        {% endif %}
        {% endfor %}
        {% endfor %}

        {% if bagitems %}
        {% for item in bagitems %}
        {% if item.course.id == course.id %}
        <p>You already have this item in your bag. It cannot be added twice.</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        
        {% if course.limit > 0 %}
        <form action="{% url 'addbag' course.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-black" value="Add to Shopping Bag">
            <input type="hidden" name="redirecturl" value="{{ request.path }}">
        </form>
        <p>Important: The name on the booking has to match the name of the course participant.</p>
        <p>To book a course for a different person, we recommend creating another account.</p>
        {% else %}
        <p>This course is already booked out.</p>
        {% endif %}
    </div>

    {% else %}
        {% if course.limit > 0 %}
        <p>Please <a href="{% url 'account_login' %}">login</a> to book this course</p>
        {% else %}
        <p>This course is already booked out.</p>
        {% endif %}
    {% endif %}

    {% if request.user.is_superuser %}
    <div class="row">
        <a class="btn btn-black" href="{% url 'editcourse' course.id %}">Edit Course</a>
    </div>
    <div class="row">
        <a class="btn btn-black" href="{% url 'deletecourse' course.id %}">Delete Course</a>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <a href="{% url 'allcourses' %}">Search for other courses</a>
        </div>
    </div>

</div>
{% endblock content %}
