{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col mt-5">

        Name: {{ course.name }}
        </br>
        Level: {{ course.level }}
        Format: {{ course.format }}
        Description: {{ course.description }}
        Price: {{ course.price }} Euro
        Startdate: {{ course.startdate }}
        Weekday: {{ course.weekday }}
        Starttime: {{ course.starttime }}
        Duration: {{ course.duration }}
        Maximum number of students: {{ course.limit }}
        Status: {{ course.status }}
        </div>
    </div>
    <div class="row">
        <form action="{% url 'addbag' course.id %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'allcourses' %}">Find additional courses</a>
            <input type="submit" class="btn btn-black" value="Add to Shopping Bag">
            <input type="hidden" name="redirecturl" value="{{ request.path }}">
        </form>
    </div>
</div>
{% endblock content %}
