{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_title %}Edit Course{% endblock %}

{% block content %}

<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-1">
            <h2>Edit course</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-1">
            <form action="{% url 'editcourse' course.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ editform|crispy }}
                <button class="btn mt-2" type="submit">Edit course</button>
                <a href="{% url 'allcourses' %}" class="btn mt-2">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
