{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Language School</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header>
        <!-- navigation menu -->
        <nav class="navbar navbar-expand-md navbar-light fixed-top">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">Online Language School</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'allcourses' %}">Our Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Course Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'viewbag' %}">
                                    <div>Shopping Bag</div>
                                    <p class="my-0">
                                        {% if total %}
                                            {{ total|floatformat:2 }} Euro
                                        {% else %}
                                            0.00 Euro
                                        {% endif %}
                                    </p>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add Course</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- main content -->
    <main>
        {% block content %}
        <!-- content goes here-->
        {% endblock content%}
    </main>
    <!-- footer -->
    <footer class="container-fluid fixed-bottom">
        <div class="row">
            <div class="col">
                <p>Link to Facebook here</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Newsletter Sign Up</p>
            </div>
        </div>
    </footer>
    <!-- bootstrap javascript cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
